body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 1219px;
    padding: 0 55px 0 55px;
}


.Head{ /* Head_Blocks */
    background: #007765;
    overflow: auto;
    width: 1219px;
    height: 84px;
    position: fixed;
    display: inline-flex
}
.Head_logo{
    position: fixed;
    width: 184px;
    height: 45px;
    left: 55px;
    top: 30px;
    padding-left: 55px;
}
.Head_Text{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    display: inline-flex;
    position: fixed;
    left: 741px;
    top: 8px;
}
.Problem{
    padding-right: 10px;
}
.Pied{
    padding-right: 10px;
}
.Team{

}


.Piper_Net{ /* Piper_Blocks */
    background-image: url(image/image.png);
    width: 1219px;
    height: 403px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px; 
    position: static;  
}
.Piper_Text{
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #fff;
}