body{
    font-family: 'Roboto', sans-serif;
}
.Main{
    display: flex; /*если он закоментирован, то будет расстояние меджу блоками */
    flex-direction: column; /*column вместо row и будет всё по вертикали*/
    max-width: 1219px;
    margin: auto;
}

.Head{ /* Head_Blocks */
    background: #007765;
    overflow: auto;
    display: flex;
    flex-direction: row;
}
.Head_logo{
    padding: 20px 0 20px 55px;
}
.Head_Text{
    color: #fff;
    display: flex;
    flex-direction: row;
    padding-left: 490px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.The_Problem{
    padding-right: 7px;
}
.Pied{
    padding-right: 7px;
}
.Team{
}
.Piper_Net{ /* Piper_Blocks */
    background-image: url(image/image.png);
    height: 403px;
}
.Piper_Text{
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    padding-top: 70px;
}
.Problem{
    background: #EEEEEE;
    height: 719px;
}
.Problem_Title{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}
.Problem_Text{
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    padding: 0 50px 50px 50px;  
}
.Problem_Text_Bolt{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.Space{
    background-image: url(image/Hero.png);
    background-size: cover;
    height: 483px;
}
.Space_text{
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    padding: 80px 120px 0 120px;  
}
.Introdusing{
    background-color: white;
    padding: 0 50px 50px 50px;
}
.Introdusing_Text{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
.Introdusing_Title{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #007765;
}
.Introdusing_Logo_Text{
    float: left; /* Выравнивание по правому краю */
    background-color: aquamarine;
}